.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #EFF3F9;
    padding: 15px 0;
}

.leftBox{
    display: flex;
    align-items: center;
    gap: 20px;
}
.rightBox{
    display: flex;
    gap: 40px;
}
.img{
    width: 95px;
    height: 70px;
}

.finishBox{
    display: flex;
    gap: 5px;
}