.container {
  height: 100%;
  background-color: #eff3f9;
  box-sizing: border-box;
}

.dashboard {
  width: 100vw;
}

.rightContainer {
  width: 100vw;
  height: 100vh;
}

@media (min-width: 120px) {
  .rightContainer {
    width: 100vw;
    padding-top: 90px;
  }
}

@media (min-width: 1200px) {
  .rightContainer {
    width: 100vw;
    padding-top: 90px;
  }
}
