.container {
    display: flex;
    height: 100%;
    background-color: #EFF3F9;
}
.dashboard {
    width: 18vw;
    height: 100vh;
}
.rightContainer{
    width: 82vw;
    height: 100vh;
}
@media(max-width: 768px){
    .rightContainer{
        width: 100%;
    }
}