.container {
    display: flex;
    gap: 30px;
}

.button {
    width: 40px;
    height: 40px;
    background-color: #b3afaf;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease;
}

.container .button:hover {
    transform: scale(1.07);
    cursor: pointer;
}