.container {
    height: 65vh;
    width: 100%;
    position: relative;
}

.prevBox {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 50px;
}

.swiperSlide {
    overflow: hidden;
    width: 100%;
    height: 65vh;
}

@media(max-width: 768px) {
    .container {
        height: 60vh;
    }

    .prevBox {
        left: 30px;
    }
}