.bold {
    font-family: "Montserrat6"
}
.middle {
    font-family: "Montserrat4"
}
.thin {
    font-family: "Montserrat3"
}
.black{
    color: #000;
}
.purple{
    color: rgba(138, 63, 252, 1);
}
.darkGrey{
    color: rgba(81, 80, 80, 1);
}
.grey{
    color: rgba(129, 130, 133, 0.8);
}
.white{
    color: #fff;
}
.blue{
    color: rgba(39, 121, 246, 1);
}
.darkBlue{
    color: #22365F;
}
.fifty {
    font-size: 50px;
}
.thirtyFive{
    font-size: 35px;
}
.thirty{
    font-size: 30px;
}
.twentyFour{
    font-size: 24px;
}
.twenty{
    font-size: 20px;
}
.sixteen {
    font-size: 16px;
}
.fourteen {
    font-size: 14px;
}
.twelve{
    font-size: 12px;
}
.ten {
    font-size: 10px;
}
.Cursor{
    cursor: pointer;
}