.swiper{
    height: 100%;
}
.container{
    height: 65vh;
}

.prevBox{
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 50px;
}
.swiperSlide{
    overflow: hidden;
}
@media(max-width: 576px){
    .container{
        height: 60vh;
    }
    .prevBox{
        left: 20px;
    }
}