.container{
    height: 100%;
}
.banner{
    padding: 5vh 0;
    height: 100vh;
}
.productBox{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    margin: 20px 0;
}
.infoBox{
    display: flex;
    gap: 20px;
    padding: 50px 0;
    border-bottom: 1px solid rgba(129, 130, 133, 0.8);
}

.infoCard{
    display: flex;
    width: 80%;
    gap: 30px 20px;
    flex-wrap: wrap;
}