.container{
    display: flex;
    padding: 20px;
}
.headerBox{
    display: flex;
    gap: 20px;
    padding: 10px 15px;
}
.coment{
    padding: 10px 15px;
}
.likeBox{
    display: flex;
    gap: 15px;
    align-items: flex-start;
}
.like{
    display: flex;
    align-items: center;
    gap: 5px;
}