.container{
    padding: 60px 0 20px 0;
}
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap !important;
}

.title{
    margin-bottom: 20px;
}

.cardBox{
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 100%;
}
.card{
    margin: 6px 0;
}
.item{
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 0;
}
.socialBtns{
    display: flex;
    gap: 6px;
}
.sIcon {
    width: 40px;
    height: 30px;
    object-fit: contain;
}
.url{
    text-decoration: none;
}
.downLoadBtns{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 34%;
    gap: 15px;
}
.qrCodeBox{
    width: 100px;
    height: 100px;
}
.qrCodeBox img{
    width: 100%;
    height: 100%;
}
.protect{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

@media(max-width: 576px){
    .cardBox{
        width: 100% !important;
    }
}

@media(max-width: 767px){
    .content{
        flex-wrap: wrap !important;
    }
    .cardBox{
        width: 48%;
        margin-top: 20px;
    }
    .downLoadBtns{
        padding-left: 0% !important;
    }
}

@media(max-width: 1200px){
    .protect{
        padding-bottom: 20px;
    }
}