.container {
    width: 100%;
    position: relative;
    height: 50px !important;
}
.top{
    position: absolute;
    background-color: #EFF3F9;
    padding: 2px 5px;
    top: -8px;
    left: 12px;
    font-size: 12px;
}
.center{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 15px;
    height: 50px;
    border: 1px solid rgba(129, 130, 133, 0.8);
    border-radius: 8px;
    width: 274px;
    font-size: 12px;
}
.from {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.to{
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider{
    position: absolute !important;
    width: 90% !important;
    left: 5% !important;
    right: 5% !important;
    color: #8A3FFC !important;
    height: 2px !important;
    bottom: -1px !important;
    padding: 0 !important;
}
.dot{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #8A3FFC;
}

.line{
    width: 1px;
    height: 22px;
    background-color: rgba(129, 130, 133, 0.8);
}

.item{
    width: 40%;
    font-size: 12px;
    padding: 6px 5px;
    transition: all 0.2s ease;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    outline: none;
}
@media(min-width: 120px) {
    .container{
        width: 100%;
    }
    .center{
        width: 100%;
    }
    .bottomLineBox{
        width: 90%;
    }
}
@media(min-width: 1200px) {
    .container{
        width: auto;
    }
    .center{
        width: 274px;
    }
}