.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.container::-webkit-scrollbar {
  display: none;
}

.carousel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: scroll;
}
