.container{
    height: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.topBox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.text{
    display: flex;
    align-items: center;
}

.filter{
    display: flex;
    border: 1px solid rgba(129, 130, 133, 0.8);
    border-radius: 10px;
}

.filter p {
    padding: 10px 15px;
}

.line {
    height: 100%;
    width: 1.5px;
    background-color: rgba(129, 130, 133, 0.8);
}

.infoBox{
    width: 300px;
    height: 270px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}
.AllPrices{
    height: 70%;
    padding: 10px 15px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.info{
    padding: 10px;
    border-bottom: 1.5px solid #EFF3F9;
}
.pricesBox{
    display: flex;
    gap: 20px;
    font-size: 12px;
    margin-top: 5px;
}
.fell{
    color: rgba(38, 194, 25, 1);
}
.downIcon{
    margin-right: 5px;
}

.count{
    color: rgba(129, 130, 133, 0.8);
}
.content{
    display: flex;
    justify-content: space-between;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chartBox{
    display: flex;
    align-items: flex-end;
}