.textBox {
  padding: 5px 0;
  gap: 10px;
}

.emptyPlace {
  width: 7px;
}

.contact {
  display: flex;
  align-items: center;
  grid: 20px;
  text-decoration: none;
  cursor: pointer;
}
.container2 {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 93vh;
  width: 22vw;
  padding: 30px 0 30px 3vw;
  background-color: #fff;
  top: 0;
}

@media (min-width: 120px) {
  .container {
    display: none;
  }

  .logoBox {
    display: none;
    cursor: pointer;
  }

  .btnLocation {
    display: none;
  }

  .number {
    display: none;
  }

  .closeBox {
    padding: 5px;
    cursor: pointer;
  }

  .closeHeader {
    width: 100%;
    height: 7vh;
    position: relative;
    z-index: 11;
    transition: all 0.6s ease;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s linear;
  }
  .container2 {
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: "space-between";
    padding: 0 30px;
    background-color: #fff;
    z-index: 10;
    transition: all 0.5s ease;
    margin-top: 7vh;
  }

  .categoryBox2 {
    display: block;
  }
  .textBox2 {
    display: flex;
    padding: 10px 0;
    gap: 10px;
    align-items: center;
  }
}

@media (min-width: 576px) {
  .number {
    display: block;
  }
}
@media (min-width: 1200px) {
  .container {
    display: flex;
    width: 100vw;
    justify-content: "space-between";
    align-items: center;
    padding: 0 10px;
    margin: 0;
    background-color: #eff3f9;
    top: 0px;
    position: "sticky";
    transition: 0.4s linear;
  }
  .topBox {
    display: flex;
    align-items: center;
    width: 80vw;
  }

  .categoryBox {
    display: flex;
    margin-left: 15px;
  }

  .logoBox {
    display: block;
  }

  .btnLocation {
    display: block;
  }

  .textBox {
    padding: 0 5px;
    gap: 5px;
  }

  .emptyPlace {
    width: 7px;
  }

  .closeHeader {
    display: none;
  }
  .logoBox {
    display: flex;
    align-items: center;
  }
  .logoTitle {
    font-size: 22px;
    color: black;
    margin-right: 15px;
  }
}

@media (min-width: 1300px) {
  .container {
    padding: 0 32px;
  }
  .topBox {
    display: flex;
    align-items: center;
    width: 80vw;
  }

  .categoryBox {
    display: flex;
    margin-left: 20px;
  }

  .logoBox {
    display: block;
  }

  .btnLocation {
    display: block;
  }

  .textBox {
    padding: 0 10px;
    gap: 10px;
  }

  .emptyPlace {
    width: 7px;
  }

  .logoBox {
    display: flex;
    align-items: center;
  }
  .logoTitle {
    font-size: 25px;
    color: black;
    margin-right: 20px;
  }
  .bottomBox {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 300px;
  }
  .language {
    margin-left: 15px;
    background-color: transparent;
    width: 40px;
    height: 30px;
  }
  .languageBtn {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border: 1px solid black;
    cursor: pointer;
  }
  .languageBtn:active p {
    transform: scale(1.2);
  }
  .languageModal {
    position: absolute;
    width: 40px;
    height: 60px;
    z-index: 12;
    right: 0;
    background-color: white;
    bottom: -45px;
    cursor: pointer;
  }
  .languageBtnModal {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
  }
  .languageBtnModal:active p {
    transform: scale(1.2);
  }
}
