.container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 3vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 47px 0;
  padding-top: 36px;
}

.developer__img {
  background: linear-gradient(0deg, #fff, #fff);
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.developer__img img {
  max-width: 280px;
  max-height: 280px;
}
.developer__info {
  position: relative;
}
.developer__info h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
  letter-spacing: -0.02rem;
}
.developer__features {
  display: flex;
  margin-bottom: 40px;
}
.developer__features_item {
  font-size: 12px;
  font-weight: 500;
  margin-right: 42px;
  display: block;
}
.developer__features_item span {
  font-weight: 600;
  font-size: 40px;
  display: block;
  margin-bottom: 15px;
}
.developer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.developer__text p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.developer__text h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}
.developer__text ol {
  padding: 0;
  margin: 0 0 1.5rem 0;
  counter-reset: li;
  list-style: none;
  position: relative;
}
.developer__text ol li {
  margin-right: 25;
}

.developer__text ol li:before {
  top: 0;
  left: 0;
  color: #ff502f;
  /* position: absolute; */
  content: counter(li) ".";
  counter-increment: li;
}

.productBox {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 20px 0;
}
@media (min-width: 100px) {
  .productBox {
    justify-content: center;
    margin-bottom: 10vh;
  }
  .box {
    display: block;
  }
  .developer__img {
    width: 326px;
    height: 326px;
  }
  .developer__img img {
    max-width: 280px;
    max-height: 280px;
  }
  .image_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
  }
}
@media (min-width: 576px) {
  .productBox {
    justify-content: center;
  }
}
@media (min-width: 767px) {
  .productBox {
    justify-content: flex-start;
  }
  .box {
    display: flex;
  }

  .developer__img {
    width: 230px;
    height: 230px;
  }
  .developer__img img {
    max-width: 190px;
    max-height: 190px;
  }
  .image_box {
    width: 280px;
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .productBox {
    display: flex;
    gap: 3.5%;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: flex-start;
  }
  .box {
    display: flex;
  }
  .developer__img {
    width: 326px;
    height: 326px;
  }
  .developer__img img {
    max-width: 280px;
    max-height: 280px;
  }
  .image_box {
    width: 326px;
    margin-right: 40px;
  }
}
