.container{
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    margin:  30px 0;
    border-radius: 10px;
}
.title{
    padding: 0 30px;
}
.btnBox{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-top: 30px;
    padding: 0 30px;
}

.security{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 0 30px;
}

.btn{
    display: flex;
    margin-top: 5px;
}

.mapBox{
    height: 50vh;
    overflow: hidden;
}