.contianer{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    left: 0;
    background-color:#EFF3F9;
    transition: all 0.5s ease;
    padding: 30px 3vw;
}
.infoCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding: 40px 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.closeBox{
    padding: 5px;
}

@media(min-width: 1200px) {
    .contianer{
        display: none;
    }
}