.container {
  width: 100%;
  padding: 0 1vw;
}
.title_box {
  margin-bottom: 20px;
}
.title {
  color: black;
}
.input_box {
  width: "100%";
}
.input {
  border: 1px solid #818285;
  border-radius: 8px;
  background: #fff;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #818285;
  max-width: 692px;
  width: 100%;
  margin-bottom: 0px;
  display: block;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  z-index: 8;
}
@media (min-width: 120px) {
  .title {
    font-size: 22px;
  }
}
@media (min-width: 720px) {
  .title {
    font-size: 32px;
  }
}
