*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat4";
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset,80%);
  background-color: red;
}
.swiper-nav-btns{
  position: absolute;
  /* bottom: 10px; */
}
span.MuiSlider-root.MuiSlider-colorPrimary.MuiSlider-sizeSmall.css-53tbrc-MuiSlider-root {
    padding:  0px;
}

@font-face {
  font-family: "Montserrat1";
  src: url("./assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat2";
  src: url("./assets/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat3";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat4";
  src: url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat5";
  src: url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat6";
  src: url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat7";
  src: url("./assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat8";
  src: url("./assets/fonts/Montserrat-Black.ttf") format("truetype");
}

